@media all and (max-width: 1000px){
    .searchbar{
        display: none;
    }

    .header-right{
        display: none;
    }

    .icon{
        display: block !important;
    }

    .txt-header h1{
        font-size: 40px;
    }

    .txt-header p{
        font-size: 18px;
    }

    .image-about{
        width: 100%;
        float:none
    }

    .about-content{
        text-align: center;
        float: none;
        width: 100%;
    }
    
    .form-left{
        width: 100%;
    }

    .form-right{
        width: 100%;
    }

    .contact-us{
        width: 100%;
    }

    .contact-form{
        width: 100%;
        margin-left: 5%;
    }
    
    .title{
        width: 90%;
    }

    .email-form{
        width: 90%;
    }

    .message{
        width: 90%;
    }
}

@media all and (max-width: 670px){
    .searchbar{
        display: none;
    }

    .header-right{
        display: none;
    }

    .icon{
        display: block !important;
    }

    .txt-header h1{
        font-size: 30px;
    }
    
    .txt-header p{
        font-size: 15px;
    }

    .btn-school{
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
}